<div>
  <h1>Parks</h1>
  <div ng-controller="ParksListCtrl">
    <marquee ng-if="!parks.$resolved"
    style="width: 40px; border: 1px solid black">
      ...
    </marquee>
    <ul>
      <li ng-repeat="park in parks">
        {{park}}
      </li>
    </ul>
  </div>
</div>
